node_modules/
packages/vertice/venv/
packages/vertice/.vscode/
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/**/*/.idea/
/.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
